.login{
	background-color: #ffffff;
	
}

.fomlogin{
	margin: 15px;
	padding: 10px;
} 

.textinput{
	margin: 5px;
}

.buttonload {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 24px; /* Some padding */
  font-size: 16px; /* Set a font-size */
  width: 97%;
  margin-top: 5px;
}

/* Add a right margin to each icon */
.fa {
  margin-left: -12px;
  margin-right: 8px;
}

.midd{
  margin-left: 353px;
  margin-right: 0;
  width: 38%;
  text-align: center;
  display:  inline-block;
}


/* for hp*/
@media only screen and (min-width: 800px) and (max-width: 992px) {

  .midd{
    margin-left: 180px;
    margin-right: 0;
    width: 50%;
  }
 
}

@media only screen and (min-width: 601px) and (max-width: 799px) {

  .midd{
    margin-left: 100px;
    margin-right: 0;
    width: 70%;
  }
 
}


@media only screen and (max-width: 600px) {

  .midd{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
 
}
